# Папка
tmp/
# Старые версии файлов
*_old
# Резервные копии
*_backup
# Мусор (файлы операционной системы Windows)
Thumbs.db
# Мусор (файлы хранилища рабочего стола операционной системы MAC OS)
.DS_Store